
//≈≈≈≈≈≈≈≈≈≈     FONT STACKS  ≈≈≈≈≈≈≈≈≈≈≈≈≈//

$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-helvetica: "Helvetica Neue", $stack-sans-serif;
$stack-abolition: "Abolition Regular", $stack-sans-serif;


//≈≈≈≈≈≈≈≈≈≈     FONT WEIGHT  ≈≈≈≈≈≈≈≈≈≈≈≈≈//

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;


//≈≈≈≈≈≈≈≈≈≈    ALL COLORS  ≈≈≈≈≈≈≈≈≈≈≈≈≈//


$mint: #78e2c8;
$ocean: #6de4ff;
$emerald: #4bc66f;
$tomato: #d14747;
$warn: #ed591e;
$info: #8b75a5;
$deep: #3aa0bc;
$sky: #76dbf2;
$bloom: #ddb4ed;
$olive: #6ed88d;
$coral: #e89078;
$blossom: #e094a0;


//≈≈≈≈≈≈≈≈≈≈    MAIN COLOR FUNCTIONS   ≈≈≈≈≈≈≈≈≈≈≈≈≈//


$color-prim: $mint;
$color-sec: $ocean;

//≈≈≈≈≈≈≈≈≈≈     COLORS FOR BUTTONS  ≈≈≈≈≈≈≈≈≈≈≈≈≈//


$color-btn-default: $ocean;
$color-btn-success: $emerald;
$color-btn-error: $tomato;
$color-btn-warning: $warn;
$color-btn-info: $info;



//≈≈≈≈≈≈≈≈≈≈     COLORS FOR COL  ≈≈≈≈≈≈≈≈≈≈≈≈≈//

$color-col-3: $bloom;
$color-col-4: $sky;
$color-col-5: $olive;
$color-col-6: $deep;
$color-col-7: $blossom;
$color-col-8: $coral;
$color-col-12: $mint;



//≈≈≈≈≈≈≈≈≈≈    BREAKPOINTS  ≈≈≈≈≈≈≈≈≈≈≈≈≈//

$break-xs: 480px;
$break-s: 768px;
$break-m: 769px;
$break-l: 1400px;

//≈≈≈≈≈≈≈≈≈≈    BORDER RADIUS  ≈≈≈≈≈≈≈≈≈≈≈≈≈//

$br: 10px;

//≈≈≈≈≈≈≈≈≈≈    GRID VARIABLES  ≈≈≈≈≈≈≈≈≈≈≈≈≈//
