.img {
  border: 5px solid  orange;
}





/*.img {
  &--logo,
  &--avatar {
    margin: 1em auto;
    border: 5px solid orange;
  }
  &--frame {
    max-width: 100%;
    padding: .625em;
    border: 1px solid black;
  }
}
*/
